<h1>You've just added a new restaurant!</h1>

<strong>Name:</strong> <%= @restaurant.name %><br />
<strong>City:</strong> <%= @restaurant.city %><br />
<strong>Post Code:</strong> <%= @restaurant.postcode %><br />
<strong>Type of cuisine:</strong> <%= @restaurant.cuisine %><br />
<br />
<br />

<%= link_to "Back to Main Menu", :root %>



